[submodule "server/client-simple/lsocket"]
	path = server/client-simple/lsocket
	url = https://github.com/cloudwu/lsocket.git
[submodule "server/skynet"]
	path = server/skynet
	url = https://github.com/cloudwu/skynet.git
